/*Global Styles*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right bottom,
    #23272d 60%, white 40%);
    color: white;
}
main{
    overflow: hidden;
}

/*Navigation*/

nav {
    min-height: 10vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;

}

ul {
    list-style: none;

}

ul li {
    animation: mymoveTop 1.6s;
    animation-iteration-count: 1;
}

a {
    text-decoration: none;
    color: white;
    font-size: calc(1rem + 1vw);
    font-family: "Roboto Mono", monospace;
}

nav a:hover {
    color: #33ffa9;
}

#logo {
    flex: 1 1 20rem;
}

#logo img {
    width: 40%;
    animation: mymoveTop 1.6s;
    animation-iteration-count: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.burger, .menu-check {
    display: none;
}


/*Hero Section*/

.hero {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.hero-text {
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20rem 0rem;
    animation: movefromLeft 2s;
    z-index: -1;
}

.hero-text h1 {
    font-size: calc(2.5rem + 1vw);
    padding: 1rem 0rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    position: relative;;
}

.hero-text p {
    font-size: calc(1rem + 1vw);
    color: #a8a8a8;
    padding: 3rem 0rem;
    font-family: "Muli", sans-serif;
}
.typing::after {
    content: "";
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
    width: 1px;
    height: calc(2.5rem + 1vw);
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-text button {
    background: #33ffa9;
    border: none;
    color: #23272d;
    font-size: calc(1rem + 1vw);
    text-align: center;
    cursor: pointer;
    padding: 2rem 3rem;
    font-family: "Roboto Mono", monospace;
}

button:hover {
    background: white;
}


.hero-image {
    flex: 1 1 40rem;
    display: flex;
    animation: movefromRight 2s;
}

.hero-image img {
    width: 70%;
    margin: auto;
    border-radius: 1rem;
}

/*Animations*/


@keyframes mymoveTop {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes movefromRight {
    from{
        transform: translateX(150%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes movefromLeft {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0%);
    }
}


/*Media Queries*/

@media screen and (max-width: 1119px) {
    /*Global Styles*/
    body {
        background: linear-gradient(to right bottom,
        #23272d 70%, white 40%);
    }

    /*Navigation*/
    nav {
        justify-content: center;
    }

    a {
        padding: 0rem 1rem;
    }

    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    #logo img {
        width: 80%;
    }

    /*Hero Section*/
    .hero-text {
        padding: 5rem 0rem;
    }

    .hero-image img {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    /*Global Styles*/
    body {
        background: #23272d;
    }

    /*Navigation*/
    nav {
        width: 100%;

    }

    #logo {
        padding: 2rem;
        justify-content: flex-start;
    }

    #logo img {
        width: 70%;
    }

    a {
        font-size: calc(1rem + 1vw);
    }

    /*Burger*/
    .burger {
        right: 5%;
        position: relative;
        display: block;
        animation: mymoveTop 2s;
        animation-iteration-count: 1;
    }

    .burger span {
        padding: 0.1rem 2rem;
        background: white;
        margin: 0.5rem 0rem;
        display: block;
        transition: all 0.5s ease;
    }

    .nav-links a {
        color: white;
        font-size: calc(2.5rem + 1vw);
        text-decoration: underline;
    }

    .nav-links {
        background: black;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
    }

    .menu-check {
        display: block;
        position: absolute;
        right: 5%;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }

    .menu-check:checked + .nav-links {
        transform: translateX(-100%);
    }

    .menu-check:checked ~ .burger span {
        background: white;
    }

    .menu-check:checked ~ .burger span:nth-child(1) {
        transform: rotateZ(45deg) translateY(500%);
    }

    .menu-check:checked ~ .burger span:nth-child(2) {
        opacity: 0;
    }

    .menu-check:checked ~ .burger span:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-500%);
    }


    /*Hero Section*/
    .hero-text p {
        font-size: 2rem;
    }

    .hero-image img {
        width: 100%;
        margin: auto;
    }

}