/* Global Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background: #23272d;
    color: white;
}


/* Navigation */

nav {
    min-height: 10vh;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
}

#logo {
    flex: 1 1 20rem;
}

#logo img {
    width: 40%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.burger, .menu-check {
    display: none;
}


/* Hero Section */

.hero {
    min-height: 90vh;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20rem 0rem;

}

.hero-text h1 {
    font-size: calc(2.5rem + 1vw);
    padding: 1rem 0rem;
    font-family: "Muli", sans-serif;

}

.hero-text p {
    font-size: calc(1rem + 1vw);
    color: #a8a8a8;
    padding: 3rem 0rem;
    font-family: "Muli", sans-serif;
}

.hero-text button {
    background: #33ffa9;
    border: none;
    color: #23272d;
    font-size: calc(1rem + 1vw);
    text-align: center;
    cursor: pointer;
    padding: 2rem 3rem;
    font-family: "Roboto Mono", monospace;
}


.hero-image {
    flex: 1 1 40rem;
    display: flex;
}

.hero-image img {
    width: 70%;
    margin: auto;
}

/* Media Queries */

@media screen and (max-width: 1119px) {
    /* Navigation*/
    nav {
        justify-content: center;
    }

    a{
        padding: 0rem 1rem;
    }

    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    #logo img{
        width: 80%;
    }

    /* Hero Section*/
    .hero-text {
        padding: 5rem 0rem;
    }

    .hero-image img {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {

    /* Navigation */
    nav {
        width: 100%;

    }

    #logo {
        padding: 2rem;
        justify-content: flex-start;
    }

    #logo img {
        width: 70%;
    }

    a {
        font-size: calc(1rem + 1vw);
    }

    /* Burger*/
    .burger {
        right: 5%;
        position: relative;
        display: block;
    }

    .burger span {
        padding: 0.1rem 2rem;
        background: white;
        margin: 0.5rem 0rem;
        display: block;
        transition: all 0.5s ease;
    }

    .nav-links a {
        color: white;
        font-size: calc(2.5rem + 1vw);
        text-decoration: underline;
    }

    .nav-links {
        background: black;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
    }

    .menu-check {
        display: block;
        position: absolute;
        right: 5%;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }

    .menu-check:checked + .nav-links {
        transform: translateX(-100%);
    }

    .menu-check:checked ~ .burger span {
        background: white;
    }

    .menu-check:checked ~ .burger span:nth-child(1) {
        transform: rotateZ(45deg) translateY(500%);
    }

    .menu-check:checked ~ .burger span:nth-child(2) {
        opacity: 0;
    }

    .menu-check:checked ~ .burger span:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-500%);
    }


    /* Hero Section*/
    .hero-text p{
        font-size: 2rem;
    }

    .hero-image img {
        width: 100%;
        margin: auto;
    }

}